<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="description" content="DepartmentTable for displaying teacher's attention in office">
  <meta name="keywords" content="Department, Table, Attention, Time">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    DepartmentTable
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/mfb.min.css">
  <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">

  <!-- JS -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/javascripts/angular/src/app.js"></script>
  <script src="/javascripts/angular/src/directives.js"></script>
  <script src="/javascripts/angular/src/filters.js"></script>
  <script src="/javascripts/angular/src/services.js"></script>
  <script src="/javascripts/mfb.min.js"></script>
  <script src="/javascripts/sweetalert.min.js"></script>
  <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
  <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.js"></script>

</head>

<body ng-app="dtModule" ng-controller="AccountController">

  <ul class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
      <a href="#" class="mfb-component__button--main">
        <i class="mfb-component__main-icon--resting fa fa-plus"></i>
        <i class="mfb-component__main-icon--active fa fa-times"></i>
      </a>
      <ul class="mfb-component__list">
        <li>
          <a href="#" ng-click="openAddTeacher()" data-mfb-label="Add teacher" class="mfb-component__button--child">
            <i class='mfb-component__child-icon fa fa-graduation-cap' aria-hidden='true'></i>
          </a>
        </li>
        <li>
          <a href="#" ng-click="openAddOffice()" data-mfb-label="Add department" class="mfb-component__button--child">
            <i class='mfb-component__child-icon fa fa-users' aria-hidden='true'></i>
          </a>
        </li>
        <li>
          <a href="#" ng-click="openAddOrganization()" data-mfb-label="Add university" class="mfb-component__button--child">
            <i class='mfb-component__child-icon fa fa-university' aria-hidden='true'></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="container-fluid main_container">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-12 user">
        
        
        <!-- Universities -->

        <div class="panel panel-default">
          <div class="panel-heading panel_font">Universities:<input type="text" class="form-control zbz-input-clearable search_input" ng-model="searchOrganization" placeholder="Search for..."></div>
          <div class="panel-body panel_body">
            <div ng-repeat="organization in allOrganizations | searchFor: searchOrganization" id="{{organization._id}}" class="well panel-list-item" ng-click="getOfficesForOrganization(organization._id)" style="position:relative;">
              {{organization.name}}
              <div class="dropdown category_tooltip">
                <button type="button" class="btn btn-default myButton dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-option-vertical"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right my_size">
                  <li>
                    <a href="#" ng-click="openAddOffice()"><span class="glyphicon glyphicon-plus"></span> Add department</a>
                  </li>
                  <li>
                    <a href="#" ng-click="openEditOrganization(organization)"><span class="glyphicon glyphicon-pencil"></span> Edit university</a>
                  </li>
                  <li>
                    <a href="#" ng-click="deleteOrganization(organization._id)"><span class="glyphicon glyphicon-remove"></span> Remove university</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Departments -->

        <div class="panel panel-default">
          <div class="panel-heading panel_font">Departments for {{currentOrganization.name}}:<input type="text" class="form-control zbz-input-clearable search_input" ng-model="searchOffice" placeholder="Search for..."></div>
          <div class="panel-body panel_body_department">
            <div ng-repeat="office in officesForOrganization | searchFor: searchOffice" id="{{office._id}}" class="well panel-list-item" ng-click="getTeacherForOffice(office._id)" style="position:relative;">
              {{office.name}}
              <div class="dropdown category_tooltip">
                <button type="button" class="btn btn-default myButton dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-option-vertical"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right my_size">
                  <li>
                    <a href="#" ng-click="openAddTeacher()"><span class="glyphicon glyphicon-plus"></span> Add teacher</a>
                  </li>
                  <li>
                    <a href="#" ng-click="openEditOffice(office)"><span class="glyphicon glyphicon-pencil"></span> Edit department</a>
                  </li>
                  <li>
                    <a href="#" ng-click="deleteOffice(office._id)"><span class="glyphicon glyphicon-remove"></span> Remove department</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Top bar -->
      <div class="col-md-8 col-xs-12 col-sm-12">

        <!-- Search -->
        <div class="row">
          <div class="col-md-10 col-xs-10 col-sm-10">
            <input id="inputSer" type="text" class="form-control zbz-input-clearable search_input" ng-model="searchInput" placeholder="Search teachers...">
          </div>
          <div class="col-md-2 col-xs-2 col-sm-2" style="padding-top: 3px;font-size:20px;">
            <a href="/logout"><span class="glyphicon glyphicon-log-out"></span><font class="user">&nbsp;&nbsp;Log out</font></a>
          </div>
        </div>
        <hr/>

        <div class="row" style="padding-right: 13px;padding-left: 15px;">
          <font style="font-size:1.7em;">Teachers in department: {{currentOffice.name}}</font>
        </div>
        <hr/>

        <!-- Display teachers -->

        <div class="mCustomScrollbar panel-teachers" data-mcs-theme="dark-3">
          <div class="card-view  teacher-list-item" ng-repeat="teacher in teachersForOffice | searchForTeacher: searchInput">
            <div class="row teacher-panel">
              <div class="col-md-2 col-xs-3 col-sm-2 text-length-crop">
                <img class="img-mobile" ng-src="https://department-table-ariandr.c9users.io/{{teacher.email}}.jpeg" err-src="/images/profilePlaceholder.jpg" />
              </div>
              <div class="col-md-8 col-xs-7 col-sm-8 text-length-crop mobile-card-content">
                {{teacher.lastName}} {{teacher.firstName}}
                <br> {{teacher.middleName}}
                <br>
                <br> Degree: {{teacher.degree}}
                <br> Subject: {{teacher.subject}}
              </div>
              <div class="col-md-2 col-xs-2 col-sm-2 text-length-crop teacher-inner teacher-position">
                <button onfocus="this.blur();" ng-click="deleteTeacher(teacher._id)" class="close-mobile inner" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                <br>
                <button onfocus="this.blur();" ng-click="openEditTeacher(teacher)" class="close-mobile inner" type="button"><span class="glyphicon glyphicon-pencil"></span>&nbsp;</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


  <!-- Modal windows -->


  <!-- Modal for adding new organization -->
  <div class="modal fade" id="organizationAddModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-blue-color"><span class="glyphicon glyphicon-plus"></span> Add new university...</h4>
        </div>
        <div class="modal-body">
          <form role="form" name="organizationForm" ng-submit="addOrganization()">
            <label>Name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" name="name" ng-model="nameOrganization" autofocus placeholder="Enter name..." required>
            <br>
            <label>Adress:</label>
            <input type="text" pattern="^\S.{0,60}" title="" class="form-control" name="adress" ng-model="adressOrganization" placeholder="Enter adress..." required>
            <br>
            <label>Email:</label>
            <input type="text" pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$"
            title="******@****.**" class="form-control" name="email" ng-model="emailOrganization" placeholder="Enter contact email..." required>
            <br>
            <textarea class="form-control" maxlength="200" title="No more than 200 characters" rows="3" name="comment" placeholder="Enter description..." ng-model="descriptionOrganization"></textarea>
            <br>
            <button type="submit" class="btn btn-default btn-primary btn-block"><span class=" glyphicon glyphicon-ok"></span> Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for editing organization -->
  <div class="modal fade" id="organizationEditModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-blue-color"><span class="glyphicon glyphicon-plus"></span> Edit {{currentOrganization.name}}</h4>
        </div>
        <div class="modal-body">
          <form role="form" name="organizationEditForm" ng-submit="editOrganization()">
            <label>Name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" name="name" ng-model="editNameOrganization" autofocus placeholder="Enter name..." required>
            <br>
            <label>Adress:</label>
            <input type="text" pattern="^\S.{0,60}" title="" class="form-control" name="adress" ng-model="editAdressOrganization" placeholder="Enter adress..." required>
            <br>
            <label>Email:</label>
            <input type="text" pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$"
            title="******@****.**" class="form-control" name="email" ng-model="editEmailOrganization" placeholder="Enter contact email..." required>
            <br>
            <textarea class="form-control" maxlength="200" title="No more than 200 characters" rows="3" name="comment" placeholder="Enter description..." ng-model="editDescriptionOrganization"></textarea>
            <br>
            <button type="submit" class="btn btn-default btn-primary btn-block"><span class=" glyphicon glyphicon-ok"></span> Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for adding new office -->
  <div class="modal fade" id="officeAddModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-blue-color"><span class="glyphicon glyphicon-plus"></span> Add new department into {{currentOrganization.name}}</h4>
        </div>
        <div class="modal-body">
          <form role="form" name="officeForm" ng-submit="addOffice()">
            <label>Name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" name="name" ng-model="nameOffice" autofocus placeholder="Enter name..." required>
            <br>
            <label>Room:</label>
            <input type="text" pattern="^\S.{0,60}" title="" class="form-control" name="adress" ng-model="adressOffice" placeholder="Enter adress..." required>
            <br>
            <label>Email:</label>
            <input type="text" pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$"
            title="******@****.**" class="form-control" name="email" ng-model="emailOffice" placeholder="Enter contact email..." required>
            <br>
            <textarea class="form-control" maxlength="200" title="No more than 200 characters" rows="3" name="comment" placeholder="Enter description..." ng-model="descriptionOffice"></textarea>
            <br>
            <button type="submit" class="btn btn-default btn-primary btn-block"><span class=" glyphicon glyphicon-ok"></span> Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for editing office -->
  <div class="modal fade" id="officeEditModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-blue-color"><span class="glyphicon glyphicon-plus"></span> Edit department: {{currentOffice.name}}</h4>
        </div>
        <div class="modal-body">
          <form role="form" name="officeEditForm" ng-submit="editOffice()">
            <label>Name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" name="name" ng-model="editNameOffice" autofocus placeholder="Enter name..." required>
            <br>
            <label>Room:</label>
            <input type="text" pattern="^\S.{0,60}" title="" class="form-control" name="adress" ng-model="editAddressOffice" placeholder="Enter adress..." required>
            <br>
            <label>Email:</label>
            <input type="text" pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$"
            title="******@****.**" class="form-control" name="email" ng-model="editEmailOffice" placeholder="Enter contact email..." required>
            <br>
            <textarea class="form-control" maxlength="200" title="No more than 200 characters" rows="3" name="comment" placeholder="Enter description..." ng-model="editDescriptionOffice"></textarea>
            <br>
            <button type="submit" class="btn btn-default btn-primary btn-block"><span class=" glyphicon glyphicon-ok"></span> Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for adding new teacher -->
  <div class="modal fade" id="teacherAddModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-blue-color"><span class="glyphicon glyphicon-plus"></span> Add new teacher into {{currentOffice.name}}</h4>
        </div>
        <div class="modal-body">
          <form role="form" name="officeForm" ng-submit="addTeacher()">
            <label>First name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" ng-model="firstNameTeacher" autofocus placeholder="Enter first name..." required>
            <br>
            <label>Last name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" ng-model="lastNameTeacher" autofocus placeholder="Enter last name..." required>
            <br>
            <label>Middle name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" ng-model="middleNameTeacher" autofocus placeholder="Enter middle name..." required>
            <br>
            <label>Degree:</label>
            <input type="text" pattern="^\S.{0,60}" title="" class="form-control" ng-model="degreeTeacher" placeholder="Enter degree..." required>
            <br>
            <label>Subject:</label>
            <input type="text" pattern="^\S.{0,60}" title="" class="form-control" ng-model="subjectTeacher" placeholder="Enter subject..." required>
            <br>
            <label>Email:</label>
            <input type="text" pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$"
            title="******@****.**" class="form-control" name="email" ng-model="emailTeacher" placeholder="Enter contact email..." required>
            <br>
            <input type="file" ngf-select ng-model="uploadFile" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" /> Profile image will be: <img style="width:120px;height:120px" ngf-thumbnail="uploadFile || '/images/placeholder.png'" />
            <br>
            <br>
            <button type="submit" class="btn btn-default btn-primary btn-block"><span class=" glyphicon glyphicon-ok"></span> Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for editing teacher -->
  <div class="modal fade" id="teacherEditModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-blue-color"><span class="glyphicon glyphicon-plus"></span> Edit teacher: {{currentTeacher.lastName}} {{currentTeacher.firstName}} {{currentTeacher.middleName}}</h4>
        </div>
        <div class="modal-body">
          <form role="form" name="teacherForm" ng-submit="editTeacher()">
            <label>First name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" ng-model="editFirstNameTeacher" autofocus placeholder="Enter first name..." required>
            <br>
            <label>Last name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" ng-model="editLastNameTeacher" autofocus placeholder="Enter last name..." required>
            <br>
            <label>Middle name:</label>
            <input type="text" pattern="^\S.{0,40}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" ng-model="editMiddleNameTeacher" autofocus placeholder="Enter middle name..." required>
            <br>
            <label>Degree:</label>
            <input type="text" pattern="^\S.{0,60}" title="" class="form-control" ng-model="editDegreeTeacher" placeholder="Enter degree..." required>
            <br>
            <label>Subject:</label>
            <input type="text" pattern="^\S.{0,60}" title="" class="form-control" ng-model="editSubjectTeacher" placeholder="Enter subject..." required>
            <br>
            <input type="file" ngf-select ng-model="editUploadFile" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" /> Profile image will be: <img style="width:120px;height:120px" ngf-thumbnail="editUploadFile || '/images/placeholder.png'" />
            <br>
            <br>
            <button type="submit" class="btn btn-default btn-primary btn-block"><span class=" glyphicon glyphicon-ok"></span> Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
