.cross {
    cursor: default;
}

.cross2 {
    cursor: pointer;
}

a {
    color: rgb(51, 122, 183);
    line-height: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.tree {
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all .40s;
    -o-transition: all .40s;
    transition: all .40s;
}

.selectedCat {
    font-size: 15px;
    padding: 1px;
    background: rgba(191, 187, 212, 0.30);
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #C0C1E7;
    cursor: default;
}

.selectedCategory {
    background: rgba(191, 187, 212, 0.30);
    box-shadow: 0 0 2px 2px #C0C1E7;
}

.imagine {
    padding: 19px 0px 0px 6px;
    font-family: 'Lobster', cursive;
}

.pass {
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    padding-right: 3px;
    font-size: 17px;
}

.searchElem {
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #50bcb6;
}

.logoi {
    padding: 9px 15px 0px 35px;
}

.user {
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
}

.list_item {
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: rgba(175, 200, 230, 0.10);
    margin: 0px 5px 5px;
    border-radius: 7px;
    font-size: 16px;
}

.list_delivered{
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: rgba(111, 239, 180, 0.15);
    margin: 0px 5px 5px;
    border-radius: 7px;
    font-size: 16px;
}

.list_delivered:hover{
    background: rgba(40, 171, 99, 0.4);
}

.list_item:hover {
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: rgba(175, 200, 230, 0.40);
    margin: 0px 5px 5px;
    border-radius: 7px;
    font-size: 16px;
}

.default_item{
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: rgba(175, 200, 230, 0.40);
    margin: 0px 5px 5px;
    border-radius: 7px;
    font-size: 16px;
}

.button {
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
    padding: 3px 3px 3px 3px;
    float: left;
}

textarea {
    resize: none;
}

.button:hover {
    background: rgb(230, 230, 230);
}

.sizeS,
.tree {
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */
}

input:required:valid {
    background-color: rgba(0, 255, 0, 0.04);
}

input:required:invalid {
    background-color: rgba(255, 0, 0, 0.04);
}

.inner {
    font-size: 18px;
}

.inner font {
    font-size: 15px;
    /*rgb(21, 21, 21);*/
    /*text-shadow: 0px 0px 2px rgb(0, 0, 0);*/
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */
}

.thumbnail > .inner {
    display: none;
}

.thumbnail:hover > .inner {
    display: block;
}

.list_panel > .inner {
    display: none;
}

.list_panel:hover > .inner {
    display: block;
}

.list_panel:hover > .inner_data {
    visibility: hidden;
}

.zbz-input-clearable {
    /* ставим инпуту фоновую картинку, но отображаем ее за пределами инпута - 150% в background-position */
    background-image: url('/images/1.png');
    background-position: 150% 50%;
    background-repeat: no-repeat;
    transition: background 0.4s;
    /* добавляем справа небольшой padding, чтоб текст не залазил поверх крестика */
    padding-right: 27px
}

.zbz-input-clearable__x {
    /* когда нужно отобразить крестик, перемещаем в правый конец инпута */
    background-position: 97% 50%;
}

.zbz-input-clearable__x-over {
    /* и подготовим стиль для ховера по крестику */
    background-image: url('/images/1.png');
    cursor: pointer;
}

.zbz-input-clearable::-ms-clear {
    /* убираем родной крестик очистки в IE */
    display: none;
}


/**
 * Tooltip Styles
 */


/* Add this attribute to the element that needs a tooltip */

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}


/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}


/* Position tooltip above the element */

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}


/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}


/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */

.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tooltipDiv {
    background-color: rgb(242, 245, 248);
    border-radius: 5px;
    /*top: 50%;
    left: 50%;
    margin-top: -142px;
    margin-left: -235px;
    width: 476px;
    height: 260px;*/
    width: 90%;
    opacity: 0.92;
    position: absolute;
    box-shadow: 0 0 1px 1px rgb(220, 230, 242);
}

body {
    overflow-x: hidden;
    background: rgb(249, 249, 249);
}

div.hr a {
    display: inline;
    /* Отображать как строчный элемент */
    margin-right: 5px;
}

div.hr font {
    display: inline;
    /* Отображать как строчный элемент */
    padding-right: 0px;
}

.myButton {
    color: rgb(51, 122, 183);
    border-style: none;
    outline: none;
    background: transparent;
    border: none;
}

.main_container {
    margin-top: 20px;
}

.li_align {
    text-align: center;
}

.panel_font {
    font-size: 18px;
}

.panel_body {
    border: none;
    height: 30vh;
    overflow: auto;
    overflow-x: hidden;
}

.panel_body_department {
    border: none;
    height: 42vh;
    overflow: auto;
    overflow-x: hidden;
}

.ui_tree {
    padding-top: 0.3em;
}

.my_link {
    margin-right: 8px;
}

.ui_button {
    margin-right: 8px;
}

.category_tooltip {
    position: absolute;
    top: 0%;
    left: 88%;
    margin-top: 1em;
}

.orders_tooltip {
    position: absolute;
    top: 0%;
    left: 89%;
}

.my_size {
    font-size: 0.9em;
}

.logo_font {
    font-family: 'Lobster', cursive;
    font-size: 16px;
}

#user {
    cursor: default;
}

.align_center {
    text-align: center;
}

.div_inline {
    display: inline;
}

.float_right {
    float: right;
}

.search_checkbox {
    display: inline;
    float: left;
}

.search_input {
    display: inline;
    float: right;
}

.content_right {
    margin-right: 15px;
}

.bars_style {
    height: 74vh;
    border: none;
    overflow-y: auto;
}

.relative_thumb {
    position: relative;
}

.tooltip_position {
    position: absolute;
    top: 4%;
    left: 5%;
}

.list_style {
    height: 74vh;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.list_position {
    position: absolute;
    top: 23%;
    left: 90%;
}

.list_position_office {
    position: absolute;
    top: 23%;
    left: 88%;
}

.list_position_orders {
    position: absolute;
    top: 23%;
    left: 95%;
}

.list_position_orders_provider {
    position: absolute;
    top: 23%;
    left: 93%;
}

.green_color {
    color: green;
}

.my_font {
    font-size: 18px;
}

/* Important part */
.modal-dialog{
    overflow-y: initial;
}

.label_color{
    color: rgb(51, 122, 183);
}

.mfb-component__main-icon--active {
    position: absolute;
    font-size: 18px;
    text-align: center;
    line-height: 56px;
    width: 100%;
}

.panel-list-item {
    background-color: rgb(220,230,242);
}

.panel-list-item:hover {
    background-color: rgba(0, 83, 183, 0.38);
}

.panel-list-item:active{
    background-color: rgba(0, 83, 183, 0.50);
}

.modal-show-more__font {
    font-size: 18px;
}

.user-button {
    padding: 5px;
    border: none;
    font-size: 26px;
    float: right;
    color: darkblue;
    background-color: transparent;
}

.menu-button-categories {
    padding: 5px;
    border: none;
    font-size: 26px;
    color: darkblue;
    background-color: transparent;
}

.user-buttons {
    float: right;
    background-color: darkblue;
    display: none;
    position: absolute;
    top: 35px;
    font-size: 25px;
    width: 94%;
    z-index: 1000;
}

.menu-buttons {
    background-color: darkblue;
    display: none;
    position: absolute;
    top: 35px;
    font-size: 25px;
    width: 94%;
    z-index: 1000;
    text-align: left;
}

.shadow-bottom {
    box-shadow: 0 0 5px rgba(0, 31, 194, 0.49);
}

.horisontal-line {
    background-color: #66afe9;
    height: 2px;
}

.user-action-button {
    padding: 14px;
}

.card-view {
    height: 120px;
    background-color: rgba(102, 153, 194, 0.2);
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 5px -5px rgba(119, 169, 194, 0.5);
}

.mobile-input {
    width: 60%;
}

.mobile-checkbox {
    border-radius: 1px;
}

.img-mobile {
    margin-top: 5px;
    margin-left: 5px;
height: 110px;
    width: 110px;
}

.close-mobile {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close-mobile:hover,
.close-mobile:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.close-mobile {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.mobile-card-content {
    margin-top: 5px;
    font-size: 16px;
}

.logo-text {
    display: inline-block;
    margin-left: 39%;
}

.teacher-panel > .teacher-inner {
    display: none;
}

.teacher-panel:hover > .teacher-inner {
    display: block;
}

.teacher-position {
    position: absolute;
    left: 93%;
}

.panel-teachers {
    border: none;
    height: 70vh;
    overflow: auto;
    overflow-x: hidden;
}

.teacher-list-item:hover {
    background-color: rgba(0, 83, 183, 0.30);
}

.teacher-list-item:active{
    background-color: rgba(0, 83, 183, 0.40);
}